.dog-registration
  .dog-registration__title
    .dog-registration__title__text ワンちゃんの情報
  .dog-info-btn
    .dog-registration__info
      = form_with model: @dog, local: true do |f|
        .dog-info ワンちゃんの写メ
        =f.file_field :image ,placeholder: 'ドラッグ&ドロップ'
        .dog-info ワンちゃんの名前
        =f.text_field :name ,placeholder: '例 ポチ'
        .dog-info 犬種
        =f.text_field :breed ,placeholder: '例 柴犬'
        .dog-info 年齢
        =f.number_field :age ,placeholder: '例 2歳'
        .dog-info オス・メス
        =f.text_field :sex ,placeholder: '例 オス'
        .dog-house お家
        .dog-info 都道府県
        =f.text_field :prefecture ,placeholder: '例 兵庫県'
        .dog-info 市町村
        =f.text_field :municipalities ,placeholder: '例 西宮市'
        .dog-info 大字
        =f.text_field :town ,placeholder: '例 名塩 ここは任意です'
        .dog-info-btn
          = f.submit '登録する', class: 'btn-link'