.message
  .message__conteiner
    .message__conteiner__content
      .transaction-field
        .user-message
          .user-message__face
            .wrrap
              = fa_icon("circle 3x")
              %span ケンちゃん
          .user-message__body
            .user-message__body__text
              %p よろしくお願いします。
