.groups-main
  .groups-main__menu グループを探す
  .groups-main__content
    .groups-main__content__prefecture 都道府県
    .groups-main__contentt__city 市町村
    %input.groups-main__content__dog{type: "text",placeholder: '犬種'} 
    .groups-main__content__btn
      = link_to '検索',root_path
.groups-result
  .groups-result__conteiner
    .groups-result__conteiner__image
      = image_tag "http://www.worldfolksong.com/songbook/animal/img/cute_dogs01.jpg",size: '100x100'
    .groups-result__conteiner__info
      .groups-result__conteiner__info__name ボーダーコリー会
      .groups-result__conteiner__info__address 尼崎市
      .groups-result__conteiner__info__type ボーダーコリー
      .groups-result__conteiner__inf__gender 女性限定
    .groups-result__conteiner__new グループに入る



  