= render './shared/header-title'
= render './shared/search-dogs'
.search-description
  検索すると友達が出てくるよ
  %br 一緒のグループに入って気軽にお話しよう
.search-description-arrow ↓↓↓
.search-result
  .search-result__conteiner
    .search-result__conteiner__image
      = image_tag "http://www.worldfolksong.com/songbook/animal/img/cute_dogs01.jpg",size: '100x100'
    .search-result__conteiner__info
      .search-result__conteiner__info__name ケンちゃん
      .search-result__conteiner__info__breed プードル
      .search-result__conteiner__info__sex オス
      .search-result__conteiner__info__age ２歳
      .search-result__conteiner__info__address 御幣島
    .search-result__conteiner__message
      


