- @messages.each do |message|
  .message__conteiner
    .message__conteiner__content
      .transaction-field
        .user-message
          .user-message__face
            .wrrap
              = fa_icon("circle 3x")
              %span "#{message.user.nickname}"
          .user-message__body
            .user-message__body__text
              -# = message.message_show
              = message.content
              = message.created_at.strftime("%Y/%m/%d %H:%M")