.index-main{
  width:100vw;
  .main-conteiner{
    // background-color:#fffacd;
    background-color: #663300;
    padding-bottom: 6px;
    @media (max-width:735px){
      display:flex;
      flex-direction: row-reverse;
    }
    .header-content{
      display:flex;
      justify-content:flex-start;
      align-items: center;
      margin-left:200px;
      height: 70px;
      &__left{
        margin-right: 10px;
        .left-text{
          text-decoration: none;
          // color:#ff8c00;
          color:white;
          font-weight: bold;
          font-size: 20px;
        }
      }
      &__middle{
        margin-right: 10px;
        .middle-text{
          text-decoration-line: none;
          color:white;
          // color:#ff8c00;
          font-weight: bold;
          font-size: 20px;
        }
      }
      &__right{
        .right-text{
          text-decoration: none;
          color:white;
          // color:#ff8c00;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    .header-registration{
      display:flex;
      justify-content:flex-end;
      align-items: flex-end;
      height: 30px;
      color:white;
      h4{
        margin-right: 5px;
        font-weight: bold;
      }
      .edit{
        margin-right: 5px;
        text-decoration: none;
        // color:#8B4513;
        color:white;

      }
      .dogs-info{
        margin-right: 5px;
        text-decoration: none;
          color:white;
          // color:#8B4513;
      }
      .dogs-edit{
        margin-right: 5px;
        text-decoration: none;
          color:white;
          // color:#8B4513;
      }
      .signout{
        text-decoration: none;
        color:#444444;
        background-color:white;
        border-radius: 50px;
        padding:3px;
        margin-right: 5px;
      }
      &__left{
        padding-right:20px;
        text-decoration: none;
        color:#003300;
        background-color: white;
        border-radius: 50px;
        padding:2px;
        margin:0 5px 0 5px;
      }
      &__right{
        padding-right:20px;
        text-decoration: none;
        color:#003300;
        background-color: white;
        border-radius: 50px;
        padding:2px;
      }
    }
    .fa.fa-bars{
      display:none;
    }
    .header-content2{
      display:none;
    }
    .header-registration2{
      display: none;
    }
  
    @media (max-width:735px){
      position: relative;
      .header-content{
        display:none;
      }
      .header-registration{
        display:none;
      }
      .fa.fa-bars{
        margin:20px 20px 10px 0;
        display: block;
        &:active{
          opacity: 0.4;
        }    
      }
      .fa.fa-bars:hover ~ .header-content2{
        display:block;
        position: absolute;
        z-index:20;
        padding-top:85px;
        text-align: right;
        .header-content2{
          display:flex;
          flex-direction: column;
          color:white;
          &__left{
            margin-right: 10px;
            .left-text2{
              text-decoration: none;
              color:white;
            }
          }
          &__middle{
            margin-right: 10px;
            .middle-text2{
              text-decoration-line: none;
              color:white;
            }
          }
          &__right{
            margin-right: 10px;
            .right-text2{
              text-decoration: none;
              color:white;
            }
          }
        }
      }
      .fa.fa-bars:hover ~ .header-registration2{
        display:block;
        position: absolute;
        z-index:20;
        padding-top:160px;
        text-align: right;
        .header-registration2{
          color:white;
          &__signin{
            margin-right: 5px;
            font-weight: bold;
          }
          .edit2{
            text-decoration: none;
          }
          .dogs-info2{
            text-decoration: none;
          }
          .dogs-edit2{
            text-decoration: none;
          }
          .signout2{
            text-decoration: none;
            color:#444444;
            background-color:white;
            border-radius: 50px;
            padding:3px;
            margin-right: 5px;
          }
          &__signout{}
          &__left{
            padding-right:20px;
            text-decoration: none;
            color:#003300;
            background-color: white;
            border-radius: 50px;
            padding:2px;
            margin:0 5px 0 5px;
          }
          &__right{
            padding-right:20px;
            text-decoration: none;
            color:#003300;
            background-color: white;
            border-radius: 50px;
            padding:2px;
          }
        }
      }
    }
  }




  .main-top{
    &__image{
      text-align:center;
      width:100%;
      position: relative;
      z-index: 10;
      &__photo{
        width:100%;
        height:100%;
      }
      p{
        position: absolute;
        top:50px;
        left:65px;
        color:white;
        font-size:27px;
      }
    }
    &__search{
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      &__dogs{
        margin-right: 10px;
      }
    }
    &__bottom{
      margin-top: 0;
      background-color:#eeeeee;
      padding:12px 0;
      &__menu{
        text-align: center;
      }
      &__content{
        display:flex;
        justify-content:center;
        &__btn{
          background-color: white;
          border-radius: 50px;
          margin:0 0 3px 10px;
          padding:0 10px;
          .main-search{
            text-decoration: none;
            color:black;
            font-size: 14px;
          }
        }
      }
    }
  }
  .main-middle{
    text-align:center;
    background-color: #ffffe0;
    &__title{
      font-size: 23px;
      padding:10px 0;
    }
    &__content{
      display: flex;
      &__1{
        border-radius: 10px;
        border:solid 3px #8B4513;
        margin-right:5px;
        width:50%;
        padding:5px;
      }
      &__2{
        border-radius: 10px;
        border:solid 3px #8B4513;
        width:50%;
        padding:5px;
      }
    }
    &__image{}
  }
  .main-bottom{  
    text-align: center;
    margin:0 auto;
    width:100%;
    padding:20px 0;
    &__info{
      &__title{
        font-size: 26px;
      }
      &__owner{
        margin-top:5px;
        border:solid 2px black;
        border-radius: 5px;
      }
      &__dog{
        margin-top:10px;
        border:solid 2px black;
        border-radius: 5px;
      }
      &__end{
        padding-top:15px;
        font-size: 20px;
      }
    }
  }
  .main-footer{
    // background-color:#fffacd;
    background-color: #663300;
    text-align: center;
    padding:10px 0;
    color:white;
    &__content{
      &__email{}
      &__article{}
      &__photo{
      }
    }
  }
}
