.search-main{
  margin-top: 0;
  background-color:#eeeeee;
  padding:12px 0;
  &__menu{
    text-align: center;
  }
  &__content{
    display:flex;
    justify-content:center;
    &__btn{
      background-color: white;
      border-radius: 50px;
      margin:0 0 3px 10px;
      padding:0 10px;
      .search-main-search{
        text-decoration: none;
        color:black;
        font-size: 14px;
      }
    }
  }
}
.search-description{
  text-align: center;
  margin-top:20px;
}
.search-description-arrow{
  text-align: center;
  margin-top:10px;
}
.search-result{
  margin:30px auto;
  width:calc(100% - 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  &__conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    &__image{
      margin-left: 20px;
      margin-right:10px;
      padding-top: 7px;
    }
    &__info{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      font-size:20px;
      &__name{
        margin-right: 10px;
      }
      &__breed{
        margin-right: 10px;
      }
      &__sex{
        margin-right: 10px;
      }
      &__age{
        margin-right: 10px;
      }
      &__address{}
    }
    &__message{
      margin-right: 20px;
      .search-dogs-message{
        text-decoration: none;
        color:#8B4513;
        font-weight: bold;
      }
    }
  }
}
