.title-link{
  font-size:40px;
  position: fixed;
  top:5px;
  .title-name{
    background-color: #663300;
    text-decoration: none;
    color:white;
    padding:7px;
    border-radius: 30px;
  }
}
.search-main{
  margin-top: 0;
  background-color:#eeeeee;
  padding:12px 0;
  &__menu{
    text-align: center;
  }
  &__content{
    display:flex;
    justify-content:center;
    &__btn{
      background-color: white;
      border-radius: 50px;
      margin:0 0 3px 10px;
      padding:0 10px;
      .search-main-search{
        text-decoration: none;
        color:black;
        font-size: 14px;
      }
    }
  }
}
.search-result{
  margin:30px auto;
  width:calc(100% - 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  &__conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &__image{
      margin-left: 20px;
      margin-right:10px;
      padding-top: 7px;
    }
    &__info{
      display:flex;
      align-content:flex-start;
      flex-wrap:wrap;
      font-size:20px;
      &__name{
        margin-right: 10px;
      }
      &__breed{
        margin-right: 10px;
      }
      &__town{
        margin-right: 10px;
      }
      &__any{
        margin-right: 10px;
      }
    }
    &__message{
      margin-right: 20px;
      .search-groups-message{
        text-decoration: none;
        color:#8B4513;
        font-weight: bold;
      }
    }
  }
}
