.groups-main{
  margin-top: 0;
  background-color:#eeeeee;
  padding:12px 0;
  &__menu{
    text-align: center;
  }
  &__content{
    display:flex;
    justify-content:center;
    &__btn{
      background-color: white;
      border-radius: 50px;
      margin:0 0 3px 10px;
      padding:0 10px;
      .groups-main-search{
        text-decoration: none;
        color:black;
        font-size: 14px;
      }
    }
  }
}
.groups-result{
  margin:30px auto;
  width:calc(100% - 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  &__conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    &__image{
      margin-left: 20px;
      padding-top: 7px;
    }
    &__info{
      display:flex;
      flex-direction: row;
      font-size:20px;
      &__name{
        margin-right: 10px;
      }
      &__address{
        margin-right: 10px;
      }
      &__type{
        margin-right: 10px;
      }
      &__gender{}
    }
    &__new{
      margin-right: 20px;
    }
  }
}
.title-link{
  font-size:40px;
  .title-name{
    background-color: #663300;
    text-decoration: none;
    color:white;
    padding:7px;
    border-radius: 30px;
    position: fixed;
  }
}