.group-registration{
  text-align: center;
  background-color: #eeeeee;
  margin: 20px 100px;
  padding: 10px 0;
  &__title{
    padding:10px;
    font-size: 30px;
    &__text{
      border-radius: 10px;
      background-color: #ff4f02;
      color:white;
    }
  }
  &__info{
    .group-info{
      margin:10px 0;
    }
    input{border-radius: 10px;}
    .group-show{
      background-color: white;
      color:burlywood;
      margin:0 20px;
      font-size:20px;
    }
    .group-house{
      margin-top:15px;
      font-size: 25px;
    }
    .group-info-btn{
      margin:20px 0;
      .btn-link{
        text-decoration: none;
        background-color: #CD853F;
        color:white;
        font-size: 25px;
        padding:10px;
        border-radius: 10px;
      }
    }
  }
}