.index-main{
  .main-conteiner{
    background-color:#ccffcc;
    .header-content{
      display:flex;
      justify-content:flex-start;
      line-height: 50px;
      &__title{
        font-size:30px;
        margin:0 20px;
      }
      &__left{}
      &__right{}
    }
    .header-registration{
      display:flex;
      justify-content:flex-end;
      &__left{
        padding-right:20px;
      }
      &__right{
        padding-right:20px;
      }
    }
  }
  .main-top{
    &__image{
      text-align:center;
      position: relative;
      p{
        position: absolute;
        top:50px;
        left:240px;
        color:white;
        font-size:27px;
      }
    }
    &__bottom{
      margin-top: 0;
      background-color:#eeeeee;
      &__menu{
        text-align: center;
      }
      &__content{
        display:flex;
        justify-content:center;
      }
    }
  }
  .main-middle{
    text-align:center;

    &__title{}
    &__content{}
    &__image{}
  }
  .main-bottom{
    background-color:#ffffcc;
    text-align:center;
    &__title{}
    &__roguin{}
    &__address{}
    &__owner{}
    &__dog{}
  }
  .main-footer{
    background-color:green;
  }
}