.message{
  padding: 20px;
  background: #fafafa;
  &__conteiner{
    width:calc(100% - 400px);
    background-color: white;
    margin: 0 auto;
    &__content{
      .transaction-field{
        padding: 10px 0 20px 0;
        width:calc(100% - 200px);
        margin: 15px auto;
        text-align: right;
        font-size: 14px;
        background: white;
        .user-message{
          overflow: hidden;
          display: flex;
          justify-content: start;
          &__face{
            margin-right:15px;
          }
          &__body{
            text-align:left;
            margin-top: 20px;
            border-radius: 12px;
            width:calc(100% - 200px);
            background: #edf1ee;
            &__text{
              display: inline-block;
              position: relative;
              margin: 0 25px 0 0;
              padding: 20px 0 20px 10px;x
              p{
                text-align: left;
                margin: 0;
                padding: 3px;
              }
            }
            &__text:after{
              content: "";
              display: inline-block;
              position: absolute;
              top: -5px;
              left: -19px;
              border: 8px solid transparent;
              border-right: 18px solid #edf1ee;
              -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
            }
          }
        }
      }
    }
  }
  .messages-form-conteiner{
    text-align: center;
    .messages-form-text{
      border-radius: 10px;
      width:300px;
      text-align: center;
    }
    .messages-btn{
      margin-top:10px;
    }
  }
}