.groups-messages{
  text-align: center;
  background-color: #663300;
  color:white;
  margin: 20px 100px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 30px;
}
.search-messages{
  margin:30px auto;
  width:calc(100% - 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  &__conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    &__image{
      margin-left: 20px;
      margin-right:10px;
      padding-top: 7px;
    }
    &__info{
      display:flex;
      flex-direction: row;
      flex-wrap:wrap;
      font-size:20px;
      &__name{
        margin-right: 10px;
      }
      &__breed{
        margin-right: 10px;
      }
      &__town{
        margin-right: 10px;
      }
      &__any{
        margin-right: 10px;
      }
    }
    &__message{
      margin-right: 20px;
      .search-groups-message{
        text-decoration: none;
        color:#8B4513;
        font-weight: bold;
      }
    }
  }
}