.search-messages{
  margin:30px auto;
  width:calc(100% - 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  &__conteiner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &__image{
      margin-left: 20px;
      margin-right:10px;
      padding-top: 7px;
    }
    &__info{
      display:flex;
      align-content:flex-start;
      flex-wrap:wrap;
      font-size:20px;
      &__name{
        margin-right: 10px;
      }
      &__breed{
        margin-right: 10px;
      }
      &__town{
        margin-right: 10px;
      }
      &__any{
        margin-right: 10px;
      }
    }
    &__message{
      margin-right: 30px;
      .search-groups-message{
        text-decoration: none;
        color:#8B4513;
        font-weight: bold;
      }
    }
  }
}
.message{
  padding: 20px;
  background: #fafafa;
  &__conteiner{
    width:calc(100% - 100px);
    background-color: white;
    margin: 0 auto;
    @media(max-width:400px){
      width:100%;
    }
    &__content{
      .transaction-field{
        padding: 10px 0 20px 0;
        width:calc(100% - 200px);
        margin: 15px auto;
        text-align: right;
        font-size: 14px;
        background: white;
        @media(max-width:400px){
          width:100%;
          margin:0 auto;
        }
        .user-message{
          overflow: hidden;
          display: flex;
          justify-content: start;
          &__face{
            margin-right:10px;
            &__image{
              display: flex;
              flex-direction: column;
              width:80px;
              text-align: left;
            }
          }
          &__body{
            text-align:left;
            margin-top: 30px;
            border-radius: 12px;
            width:calc(100% - 50px);
            background: #edf1ee;
            &__text{
              display: inline-block;
              position: relative;
              margin: 0 25px 0 0;
              padding: 20px 0 20px 10px;x
              p{
                text-align: left;
                margin: 0;
                padding: 3px;
              }
            }
            &__text:after{
              content: "";
              display: inline-block;
              position: absolute;
              top: -5px;
              left: -19px;
              border: 8px solid transparent;
              border-right: 18px solid #edf1ee;
              -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
            }
          }
        }
      }
    }
  }
  .messages-form-conteiner{
    text-align: center;
    .messages-form-text{
      border-radius: 10px;
      width:300px;
      text-align: center;
    }
    .messages-btn{
      margin-top:10px;
    }
  }
}